<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title slot="end">ATT </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content color="primary">
  <H1>Iniciar Sesion</H1>
  <ion-item>
    <ion-input label="Usuario" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
  <ion-button (click)="GoToHome()" color="primary">Ingresar</ion-button>
 </ion-content>