<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title slot="end">ATT </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content color="primary">
  <H1>Iniciar Sesion</H1>
  <ion-item>
    <ion-input label="Nombre" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
    <ion-item>
    <ion-input   
    type="email"
    fill="solid"
    label="Gmail"
    labelPlacement="floating"
    errorText="Invalid email"
    ngModel
    email></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Repetir Contraseña " type="password" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
 




 </ion-content>